<style>
  .tauri-base-heading {
    font-family: "Tauri-base";
    font-size: 2rem;
  }
  .teachers-base-heading {
    font-family: "Teachers-base";
    font-size: 2rem;
  }
  .teachers-base-body {
    font-family: "Teachers-base";
    font-size: 1.5rem;
  }
  .example-trim {
    border-block: 1px solid red;
    text-box-trim: trim-both;
  }
</style>

<div class="two-column">
  <div>
    <div class="tauri-base-heading example-trim">
      TAURI HEADING
    </div>
    <div class="teachers-base-body">
      The quick brown fox
    </div>
  </div>
  <div>
    <div class="teachers-base-heading example-trim">
      TEACHERS HEADING
    </div>
    <div class="teachers-base-body">
      The quick brown fox
    </div>
  </div>
</div>

