<style>
  .tauri-adjusted-heading {
    font-family: "Tauri-adjusted";
    font-size: 2rem;
  }
  .teachers-adjusted-heading {
    font-family: "Teachers-adjusted";
    font-size: 2rem;
  }
  .teachers-adjusted-body {
    font-family: "Teachers-adjusted";
    font-size: 1.5rem;
  }
  .example-trim {
    border-block: 1px solid red;
    text-box-trim: trim-both;
  }
</style>

<div class="two-column">
  <div>
    <div class="tauri-adjusted-heading">
      xxxxxx
    </div>
    <div class="teachers-adjusted-body">
      The quick brown fox
    </div>
  </div>
  <div>
    <div class="teachers-adjusted-heading">
      xxxxxx
    </div>
    <div class="teachers-adjusted-body">
      The quick brown fox
    </div>
  </div>
</div>


