<style>
  @font-face {
    font-family: "Tauri-Example-base";
    src: url("https://fonts.gstatic.com/s/tauri/v20/TwMA-IISS0AM3IpVWHU_TBqO.ttf");
  }

  @font-face {
    font-family: "Teachers-Example-base";
    src: url("https://fonts.gstatic.com/s/teachers/v6/H4c5BXKVncXVmUGsgTwx4E9oHx2xfjBr3powY55O4AS32A.ttf");
  }

  .tauri-base {
    font-size: 4rem;
    font-family: "Tauri-Example-base";
  }

  .teachers-base {
    font-family: "Teachers-Example-base";
    font-size: 4rem;
  }
</style>

<p>
  <span class="tauri-base">xxxxx</span>
  <span class="teachers-base">xxxxx</span>
</p>

