<style>
  @font-face {
    font-family: "Tauri-adjusted";
    src: url("https://fonts.gstatic.com/s/tauri/v20/TwMA-IISS0AM3IpVWHU_TBqO.ttf");
    size-adjust: 90.2201%;
  }

  @font-face {
    font-family: "Teachers-adjusted";
    src: url("https://fonts.gstatic.com/s/teachers/v6/H4c5BXKVncXVmUGsgTwx4E9oHx2xfjBr3powY55O4AS32A.ttf");
    size-adjust: 113.6622%;
  }

  .tauri-adjusted {
    font-size: 4rem;
    font-family: "Tauri-adjusted";
  }

  .teachers-adjusted {
    font-family: "Teachers-adjusted";
    font-size: 4rem;
  }
</style>

