.content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
}

.code-block {
  background: var(--match-faded);
  border-radius: var(--default-radius);
  margin: var(--default-margin);
  padding: var(--default-padding);
}

hgroup {
  margin-top: var(--large-margin);
  padding-bottom: var(--large-padding);
}

.page-subtitle {
  color: var(--default-faded);
  border-bottom: var(--accent-border);
}

/*
.sample {
  background-color: white;
  color: black;
  padding-inline: 3rem;
  padding-block: 6rem;
}

.system-ui {
  font-family: system-ui;
  font-size: 16rem;
}

.trim {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

.outline-red {
  margin: 0;
  padding: 0;
  background-color: red;
}
*/

.regular {
  background-color: red;
  display: inline-block;
}

.trimmed {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

:root {
  --test-font-size: 50rem;
  --adjust-value: 0.1;
}

[data-receive=rawFont] {
  font-size: var(--test-font-size);
}

[data-receive=checkSize] {
  font-size: var(--test-font-size);
  font-size-adjust: var(--adjust-value);
}

.test-wrapper {
  position: relative;
  height: 420px;
  border: 1px solid red;
  z-index: -1;
  padding-block: 4rem;
}

.test-font {
  postion: absolute;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  font-family: var(--test-font);
}

.test-font-google {
  postion: absolute;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  font-family: var(--test-font);
  padding-top: 4rem;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-area {
  border: var(--accent-border-faded);
  border-radius: var(--default-radius);
  font-size: var(--small-font);
  padding: var(--default-padding);
  min-height: 16rem;
}

.calculator-area {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px;
  gap: 1rem;
  font-family: "font-to-calculate";
}

.calculator-line {
  position: relative;
}

.calculator-wrapper {
  position: relative;
  border: var(--accent-border-faded);
  border-radius: var(--default-radius);
  font-size: var(--small-font);
  padding: var(--default-padding);
  min-height: 16rem;
}

.calculator-target {
  font-size: var(--test-font-size);
  background-color: blue;
  font-family: "font-to-calculate";
}

.calculator-check {
  font-size: var(--test-font-size);
  font-size-adjust: var(--adjust-value);
  background-color: red;
  font-family: "font-to-calculate";
}

.calculator-b {
  position: absolute;
  top: 0;
  left: 0;
}

.style-results {
  background-color: var(--accent-faded2);
  padding: var(--small-padding);
  font-size: var(--xxsmall-font);
  border: var(--accent-border-faded);
  border-radius: var(--default-radius);
  height: 14rem;
  overflow-y: scroll;
  overflow-x: scroll;
}

.example-wrapper {
  margin: var(--default-margin);
  padding: var(--default-padding);
  background-color: var(--accent-faded2);
  border-radius: var(--default-radius);
}

footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

